*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# System files
Thumbs.db
Thumbs.db.meta
*.DS_Store
*.directory
*.user
.vs/
.vscode/
.workspace/
*.zip
*.tar.gz
[Bb]in
[Dd]ebug*/
[Rr]elease*/
